html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
	body
		nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
			a.navbar-brand(href="/") Logo
			button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarSupportedContent
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href="/") Home
					li.nav-item.active
						a.nav-link(href="/user/create") Creat
					li.nav-item.active
						a.nav-link(href="/user") User
					li.nav-item.active
						a.nav-link(href="/auth/login") Login
				if user
					span.badge.badge-primary= user.name
		div.container.pt-5
			block content